span {
    color: #A4A90E;
}


h2 {
    color: white;
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 5%;
    padding: 0 0 3% 0;
}

p{  
    color: white;
    text-align: center;
    font-size: 1.6em;
    font-weight: 300;
}

.divBrown {
    padding: 3% 20% 10% 20%;
}
.divGreen {
    padding: 3% 20% 10% 20%;
}
.Global {
    text-align: center;
}

.title {
    margin: 3% 0;
    color: #55371E;
}